<div class="container">
  <h1 class="title">Médailles par Pays</h1>
  <div class="stats">
    <div class="stat">
      <span class="stat-title">Nombre de JO</span>
      <span class="stat-value">{{ numberOfParticipations }}</span>
    </div>
    <div class="stat">
      <span class="stat-title">Nombre de pays</span>
      <span class="stat-value">{{ numberOfCountries }}</span>
    </div>
  </div>
  <div class="chart-container">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
            [options]="pieChartOptions">
    </canvas>
  </div>
</div>
