<div *ngIf="(errorMessage$ | async) || (isLoading$ | async)" class="container">
  <div *ngIf="isLoading$ | async" class="loading">
    Chargement des données, veuillez patienter...
  </div>

  <div *ngIf="errorMessage$ | async as errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>

<div *ngIf="!(errorMessage$ | async) && !(isLoading$ | async)" class="container">
  <h1 class="title">Médailles par Pays</h1>
  <div class="stats">
    <div class="stat">
      <span class="stat-title">Nombre de JO</span>
      <span class="stat-value">{{ numberOfParticipations }}</span>
    </div>
    <div class="stat">
      <span class="stat-title">Nombre de pays</span>
      <span class="stat-value">{{ numberOfCountries }}</span>
    </div>
  </div>
  <div class="chart-container">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [colors]="pieChartColors"
      [options]="pieChartOptions"
    >
    </canvas>
  </div>
</div>
